@import "../../styles/abstracts/index.scss";

.customer-note {
  padding: 42px 190px;
  display: flex;
  gap: 82px;
  align-items: center;
  background-color: $silver;

  .tesla-logo {
    padding: 20px;
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: 42px;
    &-name {
      display: flex;
      flex-direction: column;
      gap: 10.6px;
    }

    &-logos {
      display: flex;
      align-items: center;
      gap: 40px;

      .text {
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .customer-note {
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    gap: 0;
  }
  .tesla-logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .customer-note-content {
    width: 100%;
    padding: 0;
    align-items: center;
  }

  .customer-note-content-logos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 20px;
    .text {
      display: none;
    }
  }
}
