@import "../../styles/abstracts/index.scss";

.hero {
  background-color: $silver;
  display: flex;
  align-items: center;
  padding: 127px 190.5px;
  position: relative;

  &-content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    
  }

  &-slide {
    display: flex;
  }
}

.dot {
  width: 13.3px;
  height: 13.3px;
  border-radius: 50%;
  background-color: $primary-color;
  opacity: 0.3;
  cursor: pointer;

  &.-active {
    opacity: 1;
  }

  &-container {
    position: absolute;
    bottom: 20.77px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 10.6px;
  }
}


.swiper-pagination-bullet-active {
  background-color: $primary-color!important; 
  opacity: 1;             


}