@import "./abstracts/_index.scss";
@import "./components/_index.scss";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

.container {
  display: flex;
  flex-direction: column;
  gap: 53.3px;
}
