@import "../../styles/abstracts/index.scss";

.read-more {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 11px;
  padding-bottom: 64px;
  &-text {
    width: 43%;
  }

  &-card {
    &-list {
      display: flex;
      padding: 10px 180px;
      justify-content: space-between;
      width: 100%;
    }

    position: relative;

    &-extra {
      position: absolute;
      bottom: -60px;
      left: 33.72px;
      right: 33.72px;
      padding: 21.2px 10px;
      background-color: $white;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 21.2px;
      box-shadow: 0px 10.58px 21.16px rgba(171, 190, 209, 0.4);
      border-radius: 10.6px;
      height: 192.5px;

      .text {
        width: 90%;
      }

      p {
        cursor: pointer;
      }
    }
  }
}
