@import "../../styles/abstracts/index.scss";

.get-demo {
  display: flex;
  flex-direction: column;
  gap: 42px;
  padding: 42px 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: $silver;
  &-header {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .get-demo {
    &-header {
      width: 100%;
      font-size: 44px!important;
    }
  }
}