@import "../../styles/abstracts/index.scss";

.blog {
  padding: 104px 390px;
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  gap: 16px;
  background-color: $silver;
  &-content {
    width: 90%;
  }

  &-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    background-color: $silver;
    padding: 130px 180px;
    padding-top: 150px;

  }
}

.blog-not-found {
  padding:304px 390px;
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media screen and (max-width: 768px) {
  .blog {
    padding:  20px;
    padding-top: 100px;
  }
  .blog-list {
    padding: 30px 20px;
    padding-top: 100px;

  }
  .blog-not-found {
    padding: 400px 20px;
    padding-top: 100px;
  }
}
